__pycache__/
/output.sas
/sas_plan
/sas_plan.*
/builds/
/experiments/issue*/.venv/
/experiments/issue*/data/
/experiments/weak-stubborn-sets/.venv/
/experiments/weak-stubborn-sets/data/
/misc/.tox/
/misc/autodoc/downward-xmlrpc.secret
